language: node_js
# When changing node version also update it on lines 31 and 49.
node_js:
  - "8"

sudo: false
    
before_install:
  - git config --global user.name "fydy"
  - git config --global user.email "barberw@mail.lcc.edu"
  - git clone -b v1.10.x https://github.com/NodeBB/NodeBB.git
  - rm -rf NodeBB/.travis.yml
  - mv NodeBB/* ./
  - npm install nconf
  - npm install winston
  - npm install mkdirp
  - npm install mime
  - npm install graceful-fs
  - npm install xregexp
  - npm install nodebb-theme-v2mm
  - npm install --production
  - ./nodebb setup
  
script: 
  - echo "npm test temporarily disabled"

install:
  - ./nodebb reset -t nodebb-theme-v2mm
  
after_success:
  - rm -rf .travis.yml
  - rm -rf NodeBB
  - git add --all .
  - git commit -m "Travis CI Auto Builder To Heroku"
  - git checkout -b nodebb
  - git push --quiet --force https://$ghost@github.com/fydy/bbsnode.git nodebb
