language: node_js
# When changing node version also update it on lines 31 and 49.
node_js:
  - "10"

sudo: required

directories:
    - node_modules
    
before_install:
  - git config --global user.name "fydy"
  - git config --global user.email "barberw@mail.lcc.edu"
  - git clone -b v1.10.x https://github.com/NodeBB/NodeBB.git
  - rm -rf NodeBB/.travis.yml
  - cd NodeBB
  - npm install nconf
  - npm install winston
  - npm install mkdirp
  - npm install mime
  - npm install graceful-fs
  - npm install xregexp
  - npm install --production
  
script: 
  - echo "npm test temporarily disabled"
  
install:
  - ./nodebb setup="{\"base_url\":\"http://bbs.yunc.me\",\"port\":4567,\"secret\":\"bf932240-ea23-46a5-8932-604db4e93a14\",\"database\":\"mongo\",\"mongo:host\":\"ds149593.mlab.com\",\"mongo:port\":49593,\"mongo:database\":heroku_6kmbhg7x,\"mongo:url\":mongodb://heroku_6kmbhg7x:a6lc9n95nh6pupfmv1u5v41fi7@ds149593.mlab.com:49593/heroku_6kmbhg7x\"}" --ci="{\"host\":\"http://bbs.yunc.me\",\"port\":4567,\"database\":heroku_6kmbhg7x}"
  
after_success:
  - git add --all .
  - git commit -m "Travis CI Auto Builder To Heroku"
  - git checkout -b nodebb
  - git push --quiet --force https://$ghost@github.com/fydy/bbsnode.git nodebb
