language: node_js
node_js:
- '11'
sudo: required
directories:
- node_modules
before_install:
- openssl aes-256-cbc -K $encrypted_cde7a2053db7_key -iv $encrypted_cde7a2053db7_iv
  -in id_rsa.enc -out ~/.ssh/id_rsa -d
- chmod 600 ~/.ssh/id_rsa
- eval $(ssh-agent)
- ssh-add ~/.ssh/id_rsa
- cp .travis/ssh_config ~/.ssh/config
- git config --global user.name "fydy"
- git config --global user.email "barberw@mail.lcc.edu"
- wget -O- https://toolbelt.heroku.com/install-ubuntu.sh | sh
- echo "Host heroku.com" >> ~/.ssh/config;
- echo "   StrictHostKeyChecking no" >> ~/.ssh/config;
- echo "   CheckHostIP no" >> ~/.ssh/config;
- echo "   UserKnownHostsFile=/dev/null" >> ~/.ssh/config;
before_script:
- echo -e "Host heroku.com\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
- echo -e "Host github.com\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
- ssh -v git@heroku.com
- heroku git:clone -a bbsnnode
- rm -rf NodeBB/.travis.yml
- mv NodeBB/* ./
- npm install nconf
- npm install winston
- npm install mkdirp
- npm install mime
- npm install graceful-fs
- npm install xregexp
script:
- echo "npm test temporarily disabled"
install:
- ./nodebb setup
after_success:
- rm -rf .travis.yml
- rm -rf NodeBB
- git add -f Procfile config.json package.json build && git commit -am "adding Procfile
  and configs for Heroku"
- git checkout -b nodebb
- git push --quiet --force https://$ghost@github.com/fydy/bbsnode.git nodebb
