language: node_js

node_js: stable

sudo: true

before_install:
  - git config --global user.name "fydy"
  - git config --global user.email "barberw@mail.lcc.edu"
  - mkdir -p ./core/server/adapters/storage/
  - npm install
  - npm install ghost-cloudinary-storage
  - npm install ghost-cloudinary-store
  - cp -r node_modules/ghost-cloudinary-store ./core/server/adapters/storage
  - cp -r node_modules/ghost-cloudinary-store ./content/adapters/storage/
  - cp -r node_modules/ghost-cloudinary-storage ./content/adapters/storage/
  - cd content/adapters/storage/ghost-google-drive && npm install
  - cd ../../../..

install:
  - npm update
  
script: 
  - echo "npm test temporarily disabled"
  
after_success:
  - rm -rf .travis.yml
  - git add --all .
  - git commit -m "Travis CI Auto Builder To Heroku"
  - git checkout -b source
  - git push --quiet --force https://$ghost@github.com/fydy/bbsnode.git source
