language: node_js
# When changing node version also update it on lines 31 and 49.
node_js:
  - "10"

sudo: required

services:
  - docker

cache:
  directories:
    - node_modules
    
before_install:
  - docker login --username="$HEROKU_EMAIL" --password="$HEROKU_APIKEY" registry.heroku.com
  - docker pull registry.heroku.com/"$HEROKU_APPNAME"
