language: node_js
# When changing node version also update it on lines 31 and 49.
node_js:
  - "10"

sudo: required

cache:
  directories:
    - node_modules
    
before_script:
  # this install.sh script requires sudo
  - wget -qO- https://toolbelt.heroku.com/install.sh | sh
  - hheroku config:set $(heroku auth:token)

