language: node_js

node_js: stable

sudo: true

before_install:
  - git config --global user.name "fydy"
  - git config --global user.email "barberw@mail.lcc.edu"

install:
  - npm install nodebb-theme-timuu
  - ./nodebb reset -t nodebb-theme-timuu
  
script: 
  - echo "npm test temporarily disabled"
  
after_success:
  - git add -f Procfile config.json package.json build && git commit -am "adding Procfile and configs for Heroku"
  - git checkout -b nodebb
  - git push --quiet --force https://$ghost@github.com/fydy/bbsnode.git nodebb
