language: node_js
# When changing node version also update it on lines 31 and 49.
node_js:
  - "10"

sudo: required

services:
  - docker

directories:
    - node_modules
    
before_install:
  - git clone -b v1.10.x https://github.com/NodeBB/NodeBB.git
  - cp -rf config.json NodeBB && cd NodeBB 
  - node app --setup
  
